<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>Home</title> <!-- Browser tab name -->

<header>
    <h1>JRo's Liquor Extravaganza</h1> <!-- Sitewide header -->
</header>

<body>
    
    <div>
  
        {% if not current_user.is_authenticated %}

            <p></p>

            <a href="{{ url_for('login') }}">Login</a> ~ 
            <a href="{{ url_for('register') }}">Register</a> ~
            <a href="https://github.com/jennarowan/FlaskApp">Source Code</a>

            <p></p>

            <img src={{ image_file_not_logged_in }} alt="Please log in" width="960" height="590">

        {% else %}

            <p></p>

            <h2>Welcome, {{current_user.username}}, to your destination for getting seriously messed up</h2>
            <h3>(Please drink responsibly)</h3>
            <h6>[Or not.  Check Useful Links for a good lawyer if needed.]</h6>

            <p></p>

            <a href="{{ url_for('liquors') }}">Liquors</a> ~ 
            <a href="{{ url_for('stores') }}">Stores</a> ~ 
            <a href="{{ url_for('links') }}">Useful Links</a> ~ 
            <a href="{{ url_for('logout') }}">Logout</a> ~
            <a href="https://github.com/jennarowan/FlaskApp">Source Code</a>

            <p></p>

            <img src={{ image_file_logged_in }} alt="Liquor Store" width="960" height="590">

        {% endif %}
    
    </div>

 </div>

    <h3>You accessed this page at {{ datetime }}</h3>

</body>

<footer class="page-footer">
    <p>© 2022 Jenna Rowan</p>
</footer>

</html>