<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>Links</title> <!-- Browser tab name -->

<header>
    <h1>JRo's Liquor Extravaganza</h1> <!-- Sitewide header -->
</header>

<h1>Useful Links</h1> <!-- Page header -->

<!-- Navigation bar to the other pages -->
<a href="home">Home</a> ~ 
<a href="liquors">Liquors</a> ~ 
<a href="stores">Stores</a> ~ 
<a href ="logout">Logout</a>

<body>

  <p>Here are some links you may need:</p>

  <!-- Better call Saul! -->
  <a href = "https://attorneysaulgoodman.com/">
    A good lawyer
  </a>

  <p></p>

  <!-- This is just smart to have around. -->
  <a href = "https://www.poison.org/">
    Poison Control
  </a>

  <p></p>

  <!-- Tis the season to be merry. -->
  <a href = "https://www.amazon.com/Drunk-Christmas-Funny-Drinker-T-Shirt/dp/B09JQZWPXP/ref=sr_1_1?crid=WJW4EBNUS7HI">
    Merch
  </a>

</body>

<footer class="page-footer">
    <p>© 2022 Jenna Rowan</p>
</footer>

</html>