<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>Liquors</title> <!-- Browser tab name -->

<header>
    <h1>JRo's Liquor Extravaganza</h1> <!-- Sitewide header -->
</header>

<h1>Liquors</h1> <!-- Page header -->

<!-- Navigation bar to the other pages -->
<a href="{{ url_for('home') }}">Home</a> ~ 
<a href="{{ url_for('stores') }}">Stores</a> ~ 
<a href="{{ url_for('links') }}">Useful Links</a> ~ 
<a href="{{ url_for('password_reset') }}">Change Password</a> ~ 
<a href="{{ url_for('logout') }}">Logout</a> ~
<a href="https://github.com/jennarowan/FlaskApp">Source Code</a>

<body>

  <p>Here is an ordered list of the liquors we have available:</p>

  <ol>
      <li>Hennessy</li> <!-- Just a classic -->
      <br>
      <li>Colt 45</li> <!-- (and two zig zags) -->
      <br>
      <li>Everclear 190</li> <!-- You're just dumb if you drink this -->
      <br>
      <li>A little herb (don't tell the fuzz)</li> <!-- I swear it's medicinal -->
  </ol>

</body>

<footer class="page-footer">
    <p>© 2022 Jenna Rowan</p>
</footer>

</html>