<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>Login</title> <!-- Browser tab name -->

<header>
    <h1>JRo's Liquor Extravaganza</h1> <!-- Sitewide header -->
</header>

<body>

    <h1>Login</h1> <!-- Page header -->

    <!-- Navigation bar to the other pages -->
    <a href="/">Home</a>

    <p></p>

    <br>

    <form action="" method="post">

        {{ form.hidden_tag() }}

        <div>

            {{ form.email(placeholder="email",
            style='width: 50%;
            font-weight: bold;
            padding: 12px 20px ;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box') }}

            {% for error in form.email.errors %}

                <p>{{ error }}</p>

            {% endfor %}

        </div>

        <br>

        <div>

            {{ form.password(placeholder="password",
            style='width: 50%;
            font-weight: bold;
            padding: 12px 20px ;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box') }}

            {% for error in form.password.errors %}

                <p>{{ error }}</p>

            {% endfor %}
        </div>

        <p>{{ form.remember() }} {{ form.remember.label }}</p>

        <p>
        
            {{ form.submit(style ='background-color: #4CAF50;
            color: white;
            width: 50%;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px') }}

        </p>

    </form>

    {% if error %}

        <p class="error" style="color: red;"><strong>Error:</strong> {{ error }}
        
    {% endif %}

    {% for message in get_flashed_messages() %}

        <p style="color: red;">Error : {{ message }}</p>
        
    {% endfor %}

    <p></p>

    <img src={{ image_file }} alt="Passwords, eh?" width="590" height="590">

</body>

<footer class="page-footer">
    <p>© 2022 Jenna Rowan</p>
</footer>

</html>